@import "mixins.scss";
@import "variables.scss";

.app-header {
  border-bottom: 1px solid $gray;
  margin: 0 0 20px;

  .logo-section {
    @include display-flex(row, $align-items: "center");
    text-align: center;

    a {
      width: 150px;
    }

    span {
      border-left: 1px solid $black;
      padding: 0 0 0 20px;
      font-size: 15px;
      color: $black;
      line-height: 20px;
      margin: 0 0 0 20px;
    }
  }
}

.tabs {
  .transactions {
    padding: 0 0 0 25px;
  }
}
