<div class="transaction-modal">
  <div class="title-section" mat-dialog-title>
    <h2 class="title">TRANSACTION DATA</h2>
  </div>
  <form [formGroup]="transactionForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Select amount" value="amount" formControlName="amount">
          <mat-error *ngIf="transactionForm.get('amount')?.invalid">Amount is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Select Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="type" *ngFor="let type of types">
              {{type}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="transactionForm.get('type')?.invalid">Type is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Select Currency</mat-label>
          <mat-select formControlName="currency" >
            <mat-option [value]="currency.code" *ngFor="let currency of currencies">
              {{currency.code}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="transactionForm.get('currency')?.invalid">Currency is required</mat-error>
        </mat-form-field>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button type="submit" mat-flat-button color="primary">Apply</button>
      <button mat-flat-button type="button" color="warn" (click)="cancel()">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
