<div class="transactions">
  <form [formGroup]="typeForm" (ngSubmit)="transactionTypeSearch()">
    <p>Please choose transaction type</p>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Select Type</mat-label>
        <mat-select formControlName="type" >
          <mat-option [value]="type" *ngFor="let type of types">
            {{type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="typeForm.get('type')?.invalid">Type is required</mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngIf="isErrorMessage" class="error-message">Data not found</mat-error>
    <button mat-flat-button color="primary" type="submit" class="submit-btn">Search</button>
  </form>
</div>
